<h1>Create New Customer</h1>

<%= form_with url: customers_path, local: true do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :given_name, "Given Name" %>
    <%= form.text_field :given_name %>
  </div>

  <%= form.submit "Create Customer" %>
<% end %>

<%= flash[:error] %>
<%= flash[:notice] %>
